.listContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctorList {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

.doctorItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.deleteButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.deleteButton:hover {
    background-color: #cc0000;
}
